<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180182994-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-180182994-1');
    </script>
    <script data-ad-client="ca-pub-4300913589625528" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="RPA, Makale, UIPath, BluePrism, Article, Robotics, Robotic Proccess Automation, Blue, Prism" />
    <meta name="author" content="Senad Balkan" />
    <meta name="description" content="RPA, BluePrism, UIPath hakkında bilgiler, makaleler, duyurular" />
    <title>@ViewData["Title"]</title>

    <meta name="google-site-verification" content="SOR-TnJeCJqE1ocwhoN4HH1pVnFREDUqETojYz8a_Mg" />
    <link rel="icon" href="~/logo.png" sizes="64x64" />

    <link rel="canonical" href="https://robotmedya.com/" />
    <link rel="stylesheet" href="~/css/critical.css" type="text/css" />
    <link rel="preload" href="~/css/site.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="~/css/site.css"></noscript>
    <link rel="preload" href="~/lib/bootstrap/dist/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"></noscript>

</head>
<body class="container-fluid">
        <header class="mb-4">
            @await Component.InvokeAsync("CategoryTypeList")
        </header>
        <main role="main" class="pb-3 row">
                <aside class="col-md-3">
                    @await Component.InvokeAsync("CategoryList")
                </aside>
                <div class="col-md-8 pb-3" id="article-list">
                    @RenderBody()
                </div>
        </main>


    <footer class="border-top footer text-center text-muted"  style="width:98%;" >
        &copy; 2020 - RobotMedya
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
