@model CategoryTypeListViewModel
@{
    ViewData["Title"] = "AdminUpdate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Güncelle</h1>
@using (Html.BeginForm("UpdateCategoryType", "CategoryType", FormMethod.Post))
{
<div class="container justify-content-center ">
    <div class="form-row d-flex">
        <div class="col-2 font-weight-bold text-right">ID :</div>
        <div class="col-4 mb-2">@Html.TextBoxFor(c => c.CategoryType.CategoryTypeID, new { @readonly = "readonly" })</div>
    </div>
    <div class="form-row d-flex">
        <div class="col-2 font-weight-bold text-right">Kategori Tipi:</div>
        <div class="col-4 mb-3">@Html.TextBoxFor(c => c.CategoryType.CategoryTypeName)</div>
    </div>

    <div class="form-row d-flex">
        <div class="col-2 font-weight-bold text-right">Aktiflik :</div>
        <div class="col-4 mb-3">  @Html.CheckBoxFor(c => c.CategoryType.IsEnable)</div>
    </div>

    <div class="row">
        <div class="col-6 d-inline-flex justify-content-center"><button class="btn btn-warning px-4 ">Güncelle</button></div>
    </div>

</div>
}